.hero{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-transform: uppercase;
    background:linear-gradient(
        0deg, rgba(0,0,0,0.753939) 0%, rgba(10, 10, 10, 0) 55%),url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
&-absolute{
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    @media (min-width:768px){
        justify-content: flex-end;
        height:700px;
    }
    @media (min-width:1200px){
        height:500px;
    }
    &__h1{
        font-size: 42px;
        line-height: 50px;
        width:290px;
        text-align: center;
        height: 110px;
        margin: 240px 0 10px 15px;
        text-shadow: 0 2 1.5 0 white;
        font-weight: bold;
        @media (min-width:768px){
            width:690px;
            height:212px;
            margin: 240px 0 20px 39px;
            font-size:80px;
            line-height:1.33;
        }
        @media (min-width:1200px){
            width:730px;
            height: 264px;
            font-size: 100px;
            line-height: 1.32;
        }}
        &__h6{
            width:320px;
            font-weight: bold;
            height:21px;
            margin:10px 0 30px 15px;
            font-size: 16px;
            @media (min-width:768px){
                width:450px;
                height:21px;
                font-size:21px;
            }
            @media (min-width:1200px){
                width: 730px;
                height:32px;
                font-size: 24px;
                text-align: center;
            }
        }
    
    &__icon-scroll{
        background-color:white;
        width:55px;
        height:55px;
        border-radius: 30px;
        line-height: 85px;
        text-align: center;
        margin: 35px 115px 0 94px;
        display:none;
        @media (min-width:768px){
            display:block;
        }
    }
}
}
.img-icon-scroll{
    width:35px;
    padding:2px;
    height:35px;
    object-fit: contain;
    
}