<section id="Reasons" class="Reasons">
    <h3 class="Reasons--h3">3 Reasons To Purchase</h3>
    <ul class="Reasons--picture">
        <li class="Reasons--picture--list first">
            <h5 class="first__h5">Ut sed metus</h5>
            <p class="first__p">Lorem ipsum dolor sit amet, consecteur.</p>
        </li>
        <li class="Reasons--picture--list first">
            <h5 class="first__h5">Curabitur ac erat</h5>
            <p class="first__p">Mauris mattis urna quis lorem molestie.</p>
        </li>
        <li class="Reasons--picture--list first">
            <h5 class=" first__h5">Morbi dictum </h5>
            <p class="first__p">Aliquam in dolor et dolor tincidunt.</p>
        </li>
    </ul>
    <div class="Reasons--button">
        <button class="Reasons--button__more">More reasons</button>
    </div>
</section>