<footer class="footer">
    <div class="footer-circle">
        <a href="#hero"><img src="./assets/images/ico-arrow.svg" class="footer-circle__img"></a>
    </div>
    <section class="footer-section">
        <articles class="footer-section-article1">
            <nav>
                <ul class="nav">
                    <li class="nav-list"><a href="https://adalab.es/" target="_blank">articles</a></li>
                    <li class="nav-list"><a href="https://adalab.es/" target="_blank">books</a></li>
                    <li class="nav-list"><a href="https://adalab.es/" target="_blank">events</a></li>
                    <li class="nav-list"><a href="https://adalab.es/" target="_blank">reasons</a></li>
                    <li class="nav-list"><a href="https://adalab.es/" target="_blank">tips</a></li>
                </ul>
            </nav>
        </articles>
        <article class="footer-section-article2">
            <nav>
                <ul class="nav">
                    <li class="nav-list"><a href="https://adalab.es/" target="_blank">Twiter</a></li>
                    <li class="nav-list"><a href="https://adalab.es/" target="_blank">Instagram</a></li>
                    <li class="nav-list"><a href="https://adalab.es/" target="_blank">Mastodon.social</a></li>
                </ul>
            </nav>
        </article>
        <small class="footer-section-small">&copy;2021
            <p class="footer-section-small__we">we <span class="icon">❤︎</span> components</p>
        </small>
    </section>

</footer>