.footer {
  background-color: #304268;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-circle {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    text-align: center;
    line-height: 55px;
    transform: translateY(-26px);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    animation: rotatecircle 2.5s 1 linear;
    &__img {
      width: 30px;
      padding: 3px;
      height: 40px;
      object-fit: contain;
    }
  }
  &-section {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      font-size: 18px;
      width: 768px;
      justify-content: space-around;
      margin-bottom: 10px;
      height: 240px;
    }
    &-article2 {
      margin-top: 20px;
      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
    &-article1 {
      @media (min-width: 768px) {
        margin-left: 100px;
      }
    }
    &-small {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 14px;
      @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin: 0;
        order: -1;
        font-size: 16px;
      }
      &__we {
        margin-top: 5px;
      }
    }
  }
}
.nav {
  &-list {
    padding: 8px;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: 768px) {
      width: 210px;
      text-align: left;
      height: 50px;
    }
  }
}
.nav-list a {
  color: white;
  font-size: 16px;
  padding: 5px;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
.icon {
  color: $color-button;
}

/*Animación*/
@keyframes rotatecircle {
  from {
    transform: translateY(-26px);
  }
  to {
    transform: translateY(-26px) rotate(360deg);
  }
}
